**/*.svg
package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
.eslintcache
.prettierrc.json
pnpm-lock.yaml
*.png
*.toml
*-lock.yaml
node_modules
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
/public
**/dist
